.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100vh;
}

.Login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.Login input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
