.offerButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  gap: 25px;
}

.offerButtons input {
  margin-top: 25px;
  width: 85vw;
  height: 20px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.offerButtons > :last-child {
  margin-bottom: calc(8vh + 25px);
}

.plusIcon {
  position: absolute;
  top: calc(8vh + 5px);
  right: 4vw;
}
